<div class="md-padding">
  <h2>Generate Dialog</h2>
  <hr/>
  <div layout="row" layout-margin layout-fill layout-padding>
    <div flex>
      <form name="firstForm">
        <md-input-container>
          <label>Type</label>
          <md-select name="dialog1_1" ng-model="dialog1_1" required>
            <md-option value="1">RSASSA-PKCS2-v1_5</md-option>
            <md-option value="2">ECDSA</md-option>
            <md-option value="3">RSASSA-PKCS2-v1_5</md-option>
          </md-select>
          <div class="errors" ng-messages="firstForm.dialog1_1.$error" ng-if="firstForm.$dirty">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Length</label>
          <md-select name="dialog1_2" ng-model="dialog1_2" required>
            <md-option value="1">2048</md-option>
            <md-option value="2">secp256k1</md-option>
            <md-option value="3">2048</md-option>
          </md-select>
          <div class="errors" ng-messages="firstForm.dialog1_2.$error" ng-if="firstForm.$dirty">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-button ng-click="clearValue1()" ng-disabled="!dialog1_1 && !dialog1_2" style="margin-right: 20px;">CANCEL</md-button>
          <md-button ng-click="save1()" ng-disabled="firstForm.$invalid" class="md-primary" layout layout-align="center end">Generate</md-button>
        </div>
      </form>
    </div>
    <div flex>
      <form name="secondForm">
        <md-input-container>
          <label>Type</label>
          <md-select name="dialog2_1" ng-model="dialog2_1" required>
            <md-option value="1">RSASSA-PKCS2-v1_5</md-option>
            <md-option value="2">ECDSA</md-option>
            <md-option value="3">RSASSA-PKCS2-v1_5</md-option>
          </md-select>
          <div class="errors" ng-messages="secondForm.dialog2_1.$error" ng-if="secondForm.$dirty">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Length</label>
          <md-select name="dialog2_2" ng-model="dialog2_2" required>
            <md-option value="1">2048</md-option>
            <md-option value="2">secp256k1</md-option>
            <md-option value="3">2048</md-option>
          </md-select>
          <div class="errors" ng-messages="secondForm.dialog2_2.$error" ng-if="secondForm.$dirty">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-button ng-click="clearValue2()" ng-disabled="!dialog2_1 && !dialog2_2" style="margin-right: 20px;">CANCEL</md-button>
          <md-button ng-click="save2()" ng-disabled="secondForm.$invalid" class="md-primary" layout layout-align="center end">Generate</md-button>
        </div>
      </form>
    </div>
  </div>
  </hr>
  <h2>Sign Dialog</h2>
    <form name="thirdForm">
      <md-input-container>
        <label>Data to Sign</label>
        <textarea name="dialog3_1" ng-model="dialog3_1" required></textarea>
        <div class="errors" ng-messages="thirdForm.dialog3_1.$error" ng-if="thirdForm.$dirty">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Signature</label>
        <textarea name="dialog3_2" ng-model="dialog3_2" required></textarea>
        <div class="errors" ng-messages="thirdForm.dialog3_2.$error" ng-if="thirdForm.$dirty">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <div layout="row">
        <md-button ng-click="clearValue3()" ng-disabled="!dialog3_1 && !dialog3_2" style="margin-right: 20px;">CANCEL</md-button>
        <md-button ng-click="save3()" ng-disabled="thirdForm.$invalid" class="md-primary" layout layout-align="center end">Generate</md-button>
      </div>
    </form>  
</div>